/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Lobster&family=Nunito:wght@500&family=Poppins:wght@500;600&family=Rochester&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Kite+One&family=Lobster&family=Nunito:wght@500&family=Poppins:wght@500;600&family=Rochester&family=Yeseva+One&display=swap');
body{
      margin: 0;
      background-color: white;
      font-family: 'Poppins', sans-serif;
}

/* nav-section */
nav h2{
      margin-left: 120px;
      margin-top: 87px;
      margin-bottom: 145px;
}
/* home-section */
.home{
      display: flex;
}

.camera{
      width: 440px;
      height: 414px;
      margin-right: 185px;
    
      margin-left: 133px;
}
.half-width h1{
      font-size: 52px;
      margin-left: 120px;
      font-weight: bold;
      
}
.half-width p{
      font-size: 16px;
      margin-left: 120px;
}
button{
      margin-left: 120px;
      background-color:#E02C6D;
      margin-top: 16px;
      
      border-radius: 41px;
      padding: 10px 27px 10px 24px;
    
}
button a{
      text-decoration: none;
      color: white;
      font-size: 16px;
}
button .fa-arrow-right{
      color: white;
      margin-left: 15px;
      width: 16px;
      height: 14px;
}
/* popular-collection-section */
.popular-column{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
}
.popular-section h2{
      font-size: 28px;
      text-align: center;
}
.box-1{
      width: 329px;
height: 476px;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;


}
.box-container{
     display: flex;
     justify-content: center;
     align-items: center;
}
.box-1 img{
      width: 300px;
height: 256px;
margin: 16px;
}
.box1-info h4{
      font-size: 28px;
     margin-top: 0;
     margin-left: 14px;
     margin-bottom: 0;
}
.box1-info h5{
      font-size: 24px;
      font-family: 'Inter', sans-serif;
      margin-top: 6px;
      margin-left: 14px;
      margin-bottom: 0;
}
.box1-info span{
      width: 11.07px;
height: 10.32px;
color: #FB8200;
margin-bottom: 0;
margin-left: 14px;
}

.box1-info h6{
      font-size: 14px;
color: #FB8200;
color: #5E6366;
margin-bottom: 0;
margin-top: 0;
}
.box1-info p{
      font-size: 14px;
      color: #787885;
      margin-left: 14px;
      margin-top: 0;
}
.more a{
      font-size: 16px;
      text-decoration: none;
      color: rgba(224, 44, 109, 0.87);
    

}
.more{
      margin-top: 50px;
      margin-left: 1144px;

}
.more a i{
      margin-left: 15px;
      width: 16px;
      height: 14px;
}
/* contact-us */

.contact-heading{
      text-align: center;
      margin-bottom: 50px;
     
}
.contact-us{
      background-color: rgb(237, 239, 241);
      width: 50%;
      height: 50%;
      display:flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      
      margin-left: 340px;
      padding: 40px;

      margin-bottom: 40px;
}
#fname{
      padding: 8px;
      margin-bottom: 20px;
}
#email{
      padding: 8px;
      margin-bottom: 20px;
}

#Massage{
      padding: 8px;
      margin-bottom: 20px;
}
input[type=submit]{
      padding: 10px 20px;
      border-radius: 10px;
      color: white;
      background-color:  rgba(117, 117, 117, 0.87);
      cursor: pointer;
      font-size: 16px;
}

/* footer-section */
footer{
      background-color: #0A0826;
      margin-top: 100px;
height: 239px;
}
.footer h2{
      color: white;
      font-size: 24px;
     margin: 4px;
     padding-top: 50px;
}
.footer h4{
      color: white;
      font-size: 14px;
    margin: 2px;
}
.footer h5{
      color: white;
      font-size: 14px;
      margin: 2px;
}
.footer{
      text-align: center;
}
.social-media{
      text-align: center;
    
    
     
}
.social-media a i{
      text-align: center;
      color: white;
  text-decoration: none;
  margin: 16px;
  
}